    /* reset */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    /* estilizando o cabeçalho */
    header {
        padding: 16px;
        background: #E8B13D;
        color: #0F4271;
    }

    /* Estilo do menu */
    header nav li {
        display: inline;
        margin-left: 24px;
        font-size: 18px;
    }

    header nav li a {
        color: #0F4271;
        text-decoration: none;
    }

    .container {
        max-width: 1280px;
        width: 100%;
        margin: 0 auto;
    }

    header .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }


    /* Estilo so sobre   */
    #sobre h1,
    .animal_titulo {
        font-size: 60px;
        text-align: center;
        margin-bottom: 54px;
    }

    #sobre p {
        font-size: 25px;
        text-align: center;
    }

    #sobre {

        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #0F4271;
        color: #fff;
    }

    #caes,
    #gatos {
        padding: 80px;
    }

    #caes {
        background-color: #E8B13D;
        color: #0F4271;
    }

    #gatos {
        background-color: #0F4271;
        color: #E8B13D;
    }


    #caes .container,
    #gatos .container {
        display: flex;
        justify-content: space-between;
    }

    .animal_img img {
        width: 350px;
        height: 350px;
    }

    .animal_container {
        width: 350px;
    }

    .animal_container h3 {
        text-align: center;
        font-size: 24px;
        margin: 8px;

    }

    .animal_container p {
        font-size: 20px;
        margin-bottom: 10px;
    }

    #caes .botao_adote,
    #gatos .botao_adote {
        padding: 8px;
        font-weight: 800;
    }

    #caes .botao_adote {
        background-color: #0F4271;
        color: #E8B13D;
    }

    #gatos .botao_adote {
        background-color: #E8B13D;
        color: #0F4271;

    }

    #links_rede_social {
        margin: 20px auto;
        text-align: center;
        /* Centraliza o conteúdo */
    }

    /* Título */
    .titulo-nos-acompanhe {
        margin-bottom: 1px;
        font-size: 1.2em;


    }

    /* Lista de links */
    .links {
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: center;

        /* Remove o marcador padrão da lista */
    }

    /* Item da lista */
    .item-facebook {
        display: inline-block;
        /* Faz com que os itens fiquem na mesma linha */
        margin: 5px;
    }

    /* Link */
    .links a {
        text-decoration: none;
        /* Remove o underline do link */
        color: #000;
        /* Define a cor do texto do link */
        padding: 10px;


    }

    /* Imagem do link */
    .links img {
        width: 30px;
        height: 30px;
        margin: 10px;

    }

    /* Efeito hover para o link */
    .links a:hover {
        opacity: 0.7;
        /* Diminui a opacidade do link ao passar o mouse */

    }


    /* Formulário */
    form {
        margin: 20px auto;
        width: 400px;
        /* Ajustar a largura de acordo com o layout */
        padding: 20px;
        border: 4px solid #ccc;
        border-radius: 5px;
    }

    form h1 {
        text-align: center;
    }
    
    /* Campos do formulário */
    input,
    textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 10px;
        resize: none;
    }


    /* Botão enviar */
    button {
        cursor: pointer;
        background-color: #0F4271;
        color: #fff;
        border: 2px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        width: 100px;
    }

    /* Efeito hover para o botão */
    button:hover {
        background-color: #E8B13D;
        color: #0F4271;
    }

    /* Rótulos */
    label {
        display: block;
        margin-bottom: 5px;
    }