    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: "Oswald", sans-serif;
    }

    header {
        padding: 16px;
        background: #E8B13D;
        color: #0F4271;
    }

    header nav li {
        display: inline;
        margin-left: 24px;
        font-size: 18px;
    }

    header nav li a {
        color: #0F4271;
        text-decoration: none;
    }

    .container {
        max-width: 1280px;
        width: 100%;
        margin: 0 auto;
    }

    header .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #sobre h1,
    .animal_titulo {
        font-size: 60px;
        text-align: center;
        margin-bottom: 54px;
    }

    #sobre p {
        font-size: 25px;
        text-align: center;
    }

    #sobre {
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #0F4271;
        color: #fff;
    }

    #caes,
    #gatos {
        padding: 80px;
    }

    #caes {
        background-color: #E8B13D;
        color: #0F4271;
    }

    #gatos {
        background-color: #0F4271;
        color: #E8B13D;
    }


    #caes .container,
    #gatos .container {
        display: flex;
        justify-content: space-between;
    }

    .animal_img img {
        width: 350px;
        height: 350px;
    }

    .animal_container {
        width: 350px;
    }

    .animal_container h3 {
        text-align: center;
        font-size: 24px;
        margin: 8px;

    }

    .animal_container p {
        font-size: 20px;
        margin-bottom: 10px;
    }

    #caes .botao_adote,
    #gatos .botao_adote {
        padding: 8px;
        font-weight: 800;
    }

    #caes .botao_adote {
        background-color: #0F4271;
        color: #E8B13D;
    }

    #gatos .botao_adote {
        background-color: #E8B13D;
        color: #0F4271;

    }

    #links_rede_social {
        margin: 20px auto;
        text-align: center;
    }

    .titulo-nos-acompanhe {
        margin-bottom: 1px;
        font-size: 1.2em;
    }

    .links {
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: center;
    }

    .item-facebook {
        display: inline-block;
        margin: 5px;
    }

    .links a {
        text-decoration: none;
        color: #000;
        padding: 10px;
    }

    .links img {
        width: 30px;
        height: 30px;
        margin: 10px;
    }

    .links a:hover {
        opacity: 0.7;
    }

    form {
        margin: 20px auto;
        width: 400px;
        padding: 20px;
        border: 4px solid #ccc;
        border-radius: 5px;
    }

    form h1 {
        text-align: center;
    }

    input,
    textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 10px;
        resize: none;
    }

    button {
        cursor: pointer;
        background-color: #0F4271;
        color: #fff;
        border: 2px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        width: 100px;
    }

    button:hover {
        background-color: #E8B13D;
        color: #0F4271;
    }

    label {
        display: block;
        margin-bottom: 5px;
    }